{% comment %}
    This is a good example to save a request to the server in which two different tags are displayed and hidden with
    hyperscript.
{% endcomment %}


<div class="p-2 my-1 border-solid border-t-2 border-b-2 border-transparent"
     id="list-title{{ list.id }}"
     _="on click remove .hidden from #list-editable-title{{ list.id }}
        then call #list-editable-title{{ list.id }}.select()
        then add .hidden to me">
    {{ list.title }}
</div>

<input hx-boost="true"
       hx-trigger="keyup[key=='Enter']"
       hx-post="{% url 'djello:save-list-title' list.id %}"
       hx-swap="outerHTML"
       id="list-editable-title{{ list.id }}"
       class="w-full p-2 my-1 bg-gray-100 hidden"
       type="text"
       name="title"
       _="on keyup[key is 'Escape'] add .hidden to me
          then remove .hidden from #list-title{{ list.id }}"
       value="{{ list.title }}"/>
