<div hx-get="{% url "c:c1" 'cards' list_id %}"
     hx-swap="outerHTML"
     hx-trigger="AddedCard{{ list_id }} from:body">

     {% comment %}
        For any reasons store-lists is called twice while the end event is called just once.
        throttle:10ms below fixes this for now.
     {% endcomment %}

    <form class="dj-list"
          hx-post="{% url 'djello:store-lists' %}"
          hx-swap="none"
          hx-trigger="sendForm throttle:10ms"
          _="on end trigger sendForm on event.to">

        <input type='hidden' name='list' value='{{ list_id }}'/>

        {% for card in cards %}
            <div>
                <input type='hidden' name='card' value='{{ card.id }}'/>
                <div class="my-2 p-2 rounded bg-white hover:bg-gray-100">
                    {{ card.title }}
                </div>
            </div>
        {% endfor %}
    </form>
</div>
