{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.8.4"
            integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
            crossorigin="anonymous"></script>

    <!-- hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>

    <!-- Sortable.js -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <!-- Our css -->
    <link href="{% static 'djello/djello.css' %}" rel="stylesheet">

    <!-- our js -->
    <script src="{% static 'djello/djello.js' %}"></script>
</head>
<body>

<div class="container mx-auto p-6">
    {% block content %}{% endblock %}
</div>

</body>
</html>
